@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">TransportadoraLogis</h1>
</div>

<hr />

<div class="text-center" style="background-color: gray">
    <h1 class="display-2">Controle de Envio de Produtos</h1>
</div>


