@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">TransportadoraLogis</h1>
</div>

<hr />

<div class="text-center" style="background-color: gray; padding: 20px">
    <h2 class="display-3">Controle de Envio de Produtos</h2>
</div>

<hr />

<div class="cont1">
    <a class="btn btn-secondary btn-lg font-weight-bold" asp-controller="Cliente" asp-action="Clientes">Consultar Clientes</a>

    <a class="btn btn-secondary btn-lg font-weight-bold" asp-controller="Produto" asp-action="Produtos">Consultar Produtos</a>
</div>
<div class="cont1">
    <a class="btn btn-secondary btn-lg font-weight-bold" asp-controller="Chat" asp-action="Index">Entrar no Chat</a>
</div>


