@model Produto

<div class="row">
    <form class="col-md-4" asp-action="Inserir">
        <div class="form-group">
            <label class="control-label" asp-for="Cliente"></label>
            <input class="form-control" asp-for="Cliente" />
        </div>
        <label class="control-label" asp-for="Destino"></label>
        <input class="form-control" asp-for="Destino" />
        <div class="form-group">
            <label class="control-label" asp-for="DataSaida"></label>
            <input class="form-control" asp-for="DataSaida" />
        </div>
        <div class="form-group">
            <label class="control-label" asp-for="Quantidade"></label>
            <input class="form-control" asp-for="Quantidade" />
        </div>
        <input type="submit" class="btn btn-primary" value="Inserir" />
        <a asp-controller="Home" asp-action="Index">Início</a>
    </form>
</div>