@model Cliente

<div class="row">
    <form class="col-md-4" asp-action="Create">
        <div class="form-group">
            <label class="control-label" asp-for="Nome"></label>
            <input class="form-control" asp-for="Nome" />
            <span class="text-danger" asp-validation-for="Nome"></span>
        </div>
        <label class="control-label" asp-for="Cidade"></label>
        <input class="form-control" asp-for="Cidade" />
        <span class="text-danger" asp-validation-for="Cidade"></span>
        <div class="form-group">
            <label class="control-label" asp-for="Telefone"></label>
            <input class="form-control" asp-for="Telefone" />
            <span class="text-danger" asp-validation-for="Telefone"></span>
        </div>
        <div class="form-group">
            <label class="control-label" asp-for="eMail"></label>
            <input class="form-control" asp-for="eMail" />
            <span class="text-danger" asp-validation-for="eMail"></span>
        </div>
        <input type="submit" class="btn btn-primary" value="Inserir" />
        <a asp-controller="Home" asp-action="Index">Início</a>
    </form>
</div>
